<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BellScheduleDataKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BellScheduleWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bellSchedule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>881FF00C1D60F627003AC1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881FF0141D60F627003AC1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881FF0371D60F8EA003AC1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8832854D1E29254C00CA9839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883285631E2926EB00CA9839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BC439A1D5FCF5300FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BC43AE1D5FCF5400FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BC43B91D5FCF5400FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
