<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bellSchedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88BC439A1D5FCF5300FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BC43AE1D5FCF5400FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BC43B91D5FCF5400FFBDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
